@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  :root {
    --background: 253 253 251; /* off-white */
    --foreground: 52 61 67; /* charcoal */
    --card: 253 253 251; /* off-white */
    --card-foreground: 52 61 67; /* charcoal */
    --popover: 253 253 251; /* off-white */
    --popover-foreground: 52 61 67; /* charcoal */
    --primary: 104 51 38; /* deep-brown */
    --primary-foreground: 253 253 251; /* off-white */
    --secondary: 157 169 147; /* sage */
    --secondary-foreground: 52 61 67; /* charcoal */
    --muted: 157 169 147; /* sage */
    --muted-foreground: 52 61 67; /* charcoal */
    --accent: 157 169 147; /* sage */
    --accent-foreground: 52 61 67; /* charcoal */
    --destructive: 220 38 38;
    --destructive-foreground: 253 253 251; /* off-white */
    --border: 157 169 147; /* sage */
    --input: 157 169 147; /* sage */
    --ring: 104 51 38; /* deep-brown */
    --chart-1: 104 51 38; /* deep-brown */
    --chart-2: 157 169 147; /* sage */
    --chart-3: 52 61 67; /* charcoal */
    --chart-4: 253 253 251; /* off-white */
    --chart-5: 180 83 9;
    --radius: 0.5rem;
  }
  .dark {
    --background: 52 61 67; /* charcoal */
    --foreground: 253 253 251; /* off-white */
    --card: 52 61 67; /* charcoal */
    --card-foreground: 253 253 251; /* off-white */
    --popover: 52 61 67; /* charcoal */
    --popover-foreground: 253 253 251; /* off-white */
    --primary: 104 51 38; /* deep-brown */
    --primary-foreground: 253 253 251; /* off-white */
    --secondary: 157 169 147; /* sage */
    --secondary-foreground: 52 61 67; /* charcoal */
    --muted: 157 169 147; /* sage */
    --muted-foreground: 253 253 251; /* off-white */
    --accent: 157 169 147; /* sage */
    --accent-foreground: 253 253 251; /* off-white */
    --destructive: 220 38 38;
    --destructive-foreground: 253 253 251; /* off-white */
    --border: 157 169 147; /* sage */
    --input: 157 169 147; /* sage */
    --ring: 104 51 38; /* deep-brown */
    --chart-1: 104 51 38; /* deep-brown */
    --chart-2: 157 169 147; /* sage */
    --chart-3: 52 61 67; /* charcoal */
    --chart-4: 253 253 251; /* off-white */
    --chart-5: 180 83 9;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

*{
  font-family: "League Spartan";
}
